<%= form_for(@song) do |f| %>
<label>Name:</label>
<%= f.text_field :name %>
<label>Artist:</label>
<%= f.text_field :artist %>
<label>Genre:</label>
<%= f.text_field :genre %> 
<%= f.submit %>
<% end %>
